@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-scheme: light;
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: #EAECED;
}

.btn{
  padding: 12px 32px;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 10px;

  &:hover {
    background-color: #b5cc50;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(196, 219, 95, 0.3);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn-1  {
  background-color: #c4db5f;
  color: #000000;
}
.btn-2 {
  background-color: transparent;
  color:  black;
  border: 2px solid black;
}

.btn-3 {
  background-color: transparent;
  color: #c4db5f;
  border: 2px solid #c4db5f;
}
.text-1 {
  font-weight: bolder;
  font-size: 2.25rem ;
  color: #03373D;
}
.text-2 {
  font-weight: bolder;
  font-size: 1.75rem ;
  color: #03373D;
}
.text-3 {
  font-weight: normal;
  font-size: 1.15rem ;
  color: #03373D;
}

